*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#fff;

}


html{
    font-family:"Open Sans", sans-serif;
    font-family: 'Oswald', sans-serif;
}
#navbar{
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.7rem;
}
#navbar ul li a:hover {
    background: rgb(226, 109, 128);
    border-radius: 5px;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}
#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
#home .name h2{
    margin-bottom: 0.74rem;
}
#home .name p{
    opacity: 0.5;
    font-style:italic;
    font-size:larger;
    
}
/* home a ve home hover kısmı hakkımda kısmı */
#education{
    color: #fff;
    padding: 1rem;
}
#education .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#education .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#education .items .item:hover{
    color:palevioletred
}
#education .education-image{
    padding: 1rem;
}

#about{
    color: #333;
    padding: 1rem;
}
.about{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.p h3{
    text-align: center;
    word-spacing: 5px;
}
 .abouts .about{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
 }
 .abouts .about .about-image{
    margin-right: 0.5rem;
    position: relative;
 }
 .abouts .about .about-image{
    border-radius: 50px;
 }
 img.yuvarlak{
    border-radius: 100%;
 }

 