#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}
#education .items{
    flex-direction: column;
}
#education .items .item{
    width: 100%;
}